.col-6 {
	border:  1px solid red;
}
.btn-outline-primary {
	width: 50%;
	border: 3px outset blue;
	/*display: none !important;*/
}
h1 {
	font-size: 30px;
}
h3 {
	font-size: 23px;
}
.input-group label {
	width: 27%;
}
.container-lg {
	margin-top: 20px;
}